:root {
    --primary-color: #808080;
    /* grey */
    --secondary-color: #e7ad0d;
    /* yellow */
    --accent1-color: #101936;
    /* navy blue */
    --accent2-color: #ecd59c;
    /* light yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-around;
    align-items: center;
    padding: 16px 16px 16px 0;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    justify-items: center;
}


.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    order: 1;
    position: absolute;
    top: 45%;
    width: 90%;
    margin: 0;
    left: 5%;
    padding: 10px;
    opacity: 0.75;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    font-weight: 600;
}

.hero article img {
    float: right;
    width: 125px;
    opacity: 1;
}

h1 {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    padding: 16px;
    text-align: center;
    opacity: 0.75;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}

section {
    position: relative;
}

.history {
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    align-items: start;
}

section h2 {
    grid-column: span 3;
    text-align: center;
    margin: 10px;
}

section p {
    padding: 0;
    margin: 10px;
}

section img {
    height: 400px;
    width: auto;
    margin: 10px;
}



footer,
footer nav {
    display: flex;
    justify-content: right;
    gap: 10px;
}

footer img {
    width: 45px;
    height: auto;
}